fastapi
uvicorn[standard]
sqlalchemy
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
python-multipart
celery
redis
email-validator
# AI / RAG
groq
sentence-transformers
faiss-cpu
numpy
